@import "tailwindcss";

/* globals.css */
:root {
  --font-inter: "Inter", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  font-family: var(--font-inter);
  /* Default to Inter */
}

.open-sans {
  font-family: var(--font-open-sans);
  /* Use Open Sans for specific elements */
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out;
}

.animate-slideLeft {
  animation: slideLeft 0.8s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.bg-blue-900 {
  background-color: #1e3a8a;
}

.text-yellow-500 {
  color: #facc15;
}

.bg-yellow-400 {
  background-color: #facc15;
}

.bg-orange-500 {
  background-color: #f97316;
}

.hover\:bg-blue-700:hover {
  background-color: #1d4ed8;
}