@import "tailwindcss";

/* globals.css */
:root {
  --font-inter: "Inter", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  font-family: var(--font-inter);
  /* Default to Inter */
}

.open-sans {
  font-family: var(--font-open-sans);
  /* Use Open Sans for specific elements */
}
